.page{
  min-width: 320px;
  margin: 0 auto;

  box-sizing: border-box;

  font-family: $primary_font; //sans-serif-бес засечьки
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $primary_text_color;
}

a{
  font-family: $primary_font; //sans-serif-бес засечьки
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: $primary_text_color;
}

.btn{
  display: block;
  &:hover{
    background-color: #669ec0;
  }
  &:active{
    color: #88b6d1;
    background-color: #5496bd;
  }
}

h1, h2, h3, h4, h5, p{
  margin: 0;
  padding: 0;
}

.visually-hidden{
  display: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  color: $primary_text_color;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  color: $primary_text_color;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  color: $primary_text_color;
}

input:-o-input-placeholder,
textarea:-o-input-placeholder {
  opacity: 1;
  color: $primary_text_color;
}
