//стили функции
@mixin epileptic {
  animation-name: epileptic_btn;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
@mixin dicoration($link) {
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: $link;
    left: 0;

    display: block;
    width: 19%;
    height: 1px;

    background-color: #dbdbdb;
  }

  &:after {
    left: 81%;
  }
}
