
//------------цвета фона-------------//
$primary_background_color: #ffffff;
$secondary_background_color: #81b3d2;
//-----------------------------------//


//------------цвета текста-----------//
$primary_text_color: #000000;
$secondary_text_color: #ffffff;
//-----------------------------------//


//------------стиль текста------------//
$primary_font: "PT-Sans", "Arial", sans-serif;
$secondary_font: "PT-Sans-Bold", "Arial", sans-serif;
//-----------------------------------//

//------переменные для адаптива-------//
$mobile-width-only: 767px;

$tablet-width: 768px;
$tablet-max-width: 1199px;

$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
//-----------------------------------//
