.main-title{
  padding: 0px;
  margin: 0px;
  text-align: center;

  background: url("/img/intro_triangle_background.png"),
              url("/img/intro_background_mobile.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
